
#background {
    text-decoration: bold;
    color: rgb(0, 0, 0);
}

body {
    font-family: 'Barlow', sans-serif;
}

#goToTop {
    background-image: url("../img/ATL.gif");
    background-repeat: no-repeat;
    background-position:center;
    background-size:100%;
    height:400px;
    border-radius: 10px;
}
/* 
#goToTop:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    color: rgb(0, 0, 0);
} */

#goToX {
    padding-top: 64px;
}

#goToS {
    padding-top: 64px;
}

#goToP {
    padding-top: 64px;
}

.hero {
    color: rgb(0, 0, 0);
}

h1 {
    padding-top: 100px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 40px;
    font-weight: 600;
}

h2 {
    font-family: 'Carrois Gothic SC', sans-serif;
    padding-bottom: 20px;
    font-size: 38px;
}

h3 {
    font-family: 'Cabin', sans-serif;
}

h5 {
    text-decoration: underline;
    font-size: 30px;
}

p {
    font-size: 18px;
}

li {
    justify-content: space-between;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.skills {
    height: auto;
}

.navbar {
    position: fixed;
    background-color: white;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-left: 0px;
}

.logos {
    height: 40px;
    display: block;
}

.logo {
    height: 60px;
    display: block;
    font-size: 3em;
    float: right;
}

.logo:hover {
    transform: scale(1.5);
}

.column {
    float: center;
    width: 50%;
    padding-left: 20px;
}

.row {
    display: flex;
    justify-content: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.logo-column {
    width: 5em;
}

.experience {
    margin-top: 20px;
}

.column2 {
    padding-left: 30px;
    padding-right: 30px;
}

.mobile {
    display: flex;
}

.border {
    border: 100px #000;
    width: 100%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 2%;
}

.footer-link {
    padding: 10px;
}

.container {
    padding-bottom: 0px;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
}

.cards {
    list-style-type: none;
    padding: 0;
}

.cards li {
    position: relative;
    width: 40%;
    margin: 5%;
    display: block;
    box-sizing: border-box;
    float: left;
    z-index: -50;
}

.cards li div {
    width: 100%;
    padding: 10% 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 5px;
}

.cards div.back {
    transform: rotateY(90deg);

}

.cards div.front {
    position: absolute;
    
}

.cards li p a {
    color: black;
    text-decoration: underline;
}

.cards li:hover div.front {
    animation: twirl 0.6s ease-in forwards;
}

.cards li:hover div.back {
    animation: twirl 0.6s 0.6s ease-in forwards reverse;
}

@keyframes twirl {
    0%{ transform: rotateY(0deg) }
    100% { transform: rotateY(270deg);}
}

@media(max-width: 1000px) {
    #goToTop {
        background-size: contain;
        background-size: 130%;
    }
    #goToTop.hero {
        margin: 0;
        border: 0;
        padding: 0;
    }
    /* .row {
        display: flex;
        flex-direction: column;
    } */
    .mobile {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 770px) {
    #goToTop {
        background-size: contain;
        background-size: 200%;
    }
    .navbar {
        height: 60px;
    }
    #navbar {
        background-color: white;
    }
    .img-fluid {
        height: 50px;
        width: auto;
    }
    p {
        font-size: smaller;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
    h5 {
        font-size: 20px;
    }
    .cards li {
        width: 100%;
        margin: 5px 0;
    }
}

@media(max-width: 482px) {
    .logo-column {
        width: 50px;
    }
    #goToTop {
        background-size: contain;
        background-size: 250%;
    }
    
}

/* Font Family Options:

font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Barlow', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Bowlby One SC', cursive;
font-family: 'Cabin', sans-serif;
font-family: 'Carrois Gothic SC', sans-serif;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Sigmar One', cursive; */